<% @order.line_items.each do |line_item| %>
  <img  style="padding-top: 10px;" src="<%= line_item.product.image.thumb %>">
  <li class="list-group-item"><h5><%= line_item.product.name %> (Qty: <%= line_item.quantity %>)</h5>
  <%= line_item.product.description %></li>
  <li class="list-group-item">Total: $<%= line_item.total_price_cents/100 %></li>

 <% end %>