<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd>
            <% if @product.reviews %>
              <%= @product.average_rating.to_i %>
            <% else %>
              <i>No reviews yet</i>
            <% end %>
          </dd>
        </dl>

        <!-- Product reviews are rendered here -->

        <dl class="dl-horizontal">
          <dt>Reviews</dt>
          <% @product.reviews.reverse.each do |review| %>
            <dd><%= review.rating %>/5 <%= review.description %> -<%= review.user.first_name %></dd>
            <% if current_user.id == review.user.id %>
              <dd>
                <%= link_to 'Delete', [review.product, review],
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %>

              </dd>
           <% end %>
          <% end %>
        </dl>
      </div>
    </div>

  </article>

  <% if current_user %>
    <article class="product-review">
      <h2>Write a review:</h2>
      <%= bootstrap_form_for([@product, @product.reviews.build], layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-2") do |f| %>
        <p>
          <%= f.select :rating, [[1],[2],[3],[4],[5]] %>
        </p>
        <p>
          <%= f.text_area :description %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>
    <% end %>
  </article>

</section>
